
#container{
	width: availabe;
	height: availabe;
}

#header{
	width: availabe;
	height: 50px;
	background-color: #808080;
	float:
}

#body{
	width: availabe;
	height: 600px;
	background-color: #0080c0;
}

#footer{
	width: availabe;
	height: 50px;
	background-color: #800000;
}

#left{
	
}
#middle{
	
}
#right{
	
}